<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
</head>
<body background="css/pexels-ds-stories-6991801.jpg" align="center">
<h1><font face="Georgia">Círculo</font></h1>

<form method="post" action="cgi-bin/circle.py">
    <font size="4" face="Georgia">Raio </font><input name="raio" type="text">
    <input <font size="10" type="submit" value="Enviar"</font>
</form>
<br><br>
<font href="index.html" size="4" color="#552586"  face="georgia">Início</font>

</body>
</html>