<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quadrado</title>
    <link href="{{url_for('static', filename='incial.css')}}" href="/calculadora.py/Quadrado" rel="stylesheet">
</head>
<body>
  <div class="title">
    <p><font size="564">Quadrado</font></p>
  </div>
  <form method="post" action="/calculadora.py/lado">
    <font size="4" face="georgia"> Lado <input name="lado" type="text"</font>
      <input type="submit" value="Enviar">
  </form>
  <br><br>
  <a href="/" size="4" color="#552586"  face="georgia">Início</a>
</body>
</html>