<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Triângulo</title>
</head>
<body background="/css/pexels-ds-stories-6991382.jpg" align="center">
<h1><font face="georgia">Triângulo</font></h1>
  
<form method="post" action="cgi-bin/triangle.py">
    <font size="4" face="georgia">Base <input name="base" type="text"><br>
    Altura<input name="altura" type="text">
</font><br>
  <br><input type="submit" value="Enviar">
</form>
<br><br>
<font href="index.html" face="georgia" size="4" color="#552586" >Início</font>
</body>
</html>